<mat-toolbar color="primary" class="maxwidth">
    <span routerLink="" style="cursor:pointer" >ElectricStuff</span>
    <button mat-button class="left-margin" [matMenuTriggerFor]="kategoriak"><span>Kategóriák</span><mat-icon>arrow_drop_down</mat-icon></button>

    <mat-menu #kategoriak="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="notebook">Notebook & Számítástechnika</button>
      <button mat-menu-item [matMenuTriggerFor]="optika">Fotó, Videó & Optika</button>
      <button mat-menu-item [matMenuTriggerFor]="tvaudio">TV, Audió & Szórakozás</button>
      <button mat-menu-item [matMenuTriggerFor]="mobil">Mobiltelefon & Kiegészítők</button>
      <button mat-menu-item [matMenuTriggerFor]="tablet">Tablet, E-book & Navigáció</button>
    </mat-menu>

    <mat-menu #notebook="matMenu">
      <button mat-menu-item>Notebook</button>
      <button mat-menu-item>Alkatrész</button>
      <button mat-menu-item>Periféra</button>
      <button mat-menu-item>Asztali számítógép</button>
      <button mat-menu-item>Gamer</button>
    </mat-menu>

    <mat-menu #optika="matMenu">
      <button mat-menu-item>Fényképezőgép</button>
      <button mat-menu-item>Videókamera</button>
      <button mat-menu-item>Objektív & kiegészítők</button>
    </mat-menu>

    <mat-menu #tvaudio="matMenu">
      <button mat-menu-item>Televízió</button>
      <button mat-menu-item>Házimozi</button>
      <button mat-menu-item>Fej- és fülhallgató</button>
    </mat-menu>

    <mat-menu #mobil="matMenu">
        <button mat-menu-item>Mobiltelefon</button>
        <button mat-menu-item>Mobiltelefon tartozékok</button>
        <button mat-menu-item>Okosóra & kiegészítők</button>
    </mat-menu>

    <mat-menu #tablet="matMenu">
        <button mat-menu-item>Tablet</button>
        <button mat-menu-item>E-book</button>
        <button mat-menu-item>Navigáció</button>
        <button mat-menu-item>Navigáió tartozék</button>
    </mat-menu>

    <span class="spacer"></span>


    <div class="button-row">
      <button mat-button routerLink="/registration"> <mat-icon>person_add</mat-icon>&nbsp;Regisztráció</button>
      <button mat-button routerLink="/login"> <mat-icon>person</mat-icon>&nbsp;Bejelentkezés</button>
    </div>

</mat-toolbar>