


<div class="container">
  <p>A kosár tartalma:</p>

  <mat-list role="list">
    <mat-list-item role="listitem">
        <div class="col-sm-3 textcenter">Kép</div>
        <div class="col-sm-3 textcenter">Név</div>
        <div class="col-sm-2 textcenter">
          Darabszám
        </div>
        <div class="col-sm-2 textcenter">
          Egységár
        </div>
        <div class="col-sm-2 textcenter">
            Művelet
        </div>
    </mat-list-item>
    <hr>
    <mat-list-item role="listitem">
        <div class="col-sm-3 textcenter"><img src="/assets/coming_soon.png"></div>
        <div class="col-sm-3 textcenter">Árvíztűrő tükörfúrógép</div>
        <div class="col-sm-2 textcenter">
          2db
        </div>
        <div class="col-sm-2 textcenter">
          2344Ft
        </div>
        <div class="col-sm-2 textcenter">
            <mat-icon style="cursor: pointer; color: #4CAF50;">add</mat-icon>
            <mat-icon style="cursor: pointer; color: #CDDC39;">remove</mat-icon>
            <mat-icon color="warn" style="cursor: pointer">delete</mat-icon>
        </div>
    </mat-list-item>
    <hr>
    <mat-list-item role="listitem">
        <div class="col-sm-3 textcenter"><img src="/assets/coming_soon.png"></div>
        <div class="col-sm-3 textcenter">Árvíztűrő tükörfúrógép</div>
        <div class="col-sm-2 textcenter">
          2db
        </div>
        <div class="col-sm-2 textcenter">
          2344Ft
        </div>
        <div class="col-sm-2 textcenter">
            <mat-icon style="cursor: pointer; color: #4CAF50;">add</mat-icon>
            <mat-icon style="cursor: pointer; color: #CDDC39;">remove</mat-icon>
            <mat-icon color="warn" style="cursor: pointer">delete</mat-icon>
        </div>
    </mat-list-item>
    <hr>
    <mat-list-item role="listitem">
        <div class="col-sm-3 textcenter"><img src="/assets/coming_soon.png"></div>
        <div class="col-sm-3 textcenter">Árvíztűrő tükörfúrógép</div>
        <div class="col-sm-2 textcenter">
          2db
        </div>
        <div class="col-sm-2 textcenter">
          2344Ft
        </div>
        <div class="col-sm-2 textcenter">
            <mat-icon style="cursor: pointer; color: #4CAF50;">add</mat-icon>
            <mat-icon style="cursor: pointer; color: #CDDC39;">remove</mat-icon>
            <mat-icon color="warn" style="cursor: pointer">delete</mat-icon>
        </div>
    </mat-list-item>

    <div class="vegosszeg">
        <mat-list-item role="listitem">
          <div class="col-sm-3">&nbsp;</div>
          <div class="col-sm-3">&nbsp;</div>
          <div class="col-sm-2 textcenter important"><b>Végösszeg:</b></div>
          <div class="col-sm-2 textcenter important"><b>10000FT</b></div>
          <div class="col-sm-2"></div>
        </mat-list-item>
    </div>

    <div class="gombsor">
        <mat-list-item role="listitem">
            <div class="col-sm-4">
              <button mat-flat-button color="primary" class="uibutton"><mat-icon>arrow_back</mat-icon> &nbsp;Vásárolok még!</button>
            </div>
            <div class="col-sm-4">
                <button mat-flat-button class="uibutton" color="warn"><mat-icon>remove_shopping_cart</mat-icon> &nbsp;Kosár törlése!</button>
            </div>
            <div class="col-sm-4">
                <button mat-flat-button class="uibutton" style="background-color: #4CAF50"><mat-icon>check_circle_outline</mat-icon> &nbsp;Tovább a pénztárhoz!</button>
            </div>
          </mat-list-item>
    </div>

  </mat-list>
</div>
